<app-header></app-header>
<section class="carsection" >

  <h3 class="heading">Explore Further </h3>
    <h2>Continue your journey🚗</h2>
  <div class="whole-container">
    <div class="cars">
      <h4 style="margin-top: 20px;">Rolls-Royce Cars</h4>
      <div class="whole-content">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <span> Avg Rating for Rolls-Royce Cars based on 112 review</span>
    </div>
      <p>
        There are a total of 5 Rolls-Royce models currently on sale in India. These include 1 Coupe, 1 SUV, 2 Sedans and 1 Convertible.<br>
        <br>
        Rolls-Royce car prices in India:
        <br><br>
        The price of Rolls-Royce cars in India starts from Rs. 6.22 Cr for the Rolls Royce Wraith while the most expensive Rolls-Royce car in India one is the Phantom with a price of Rs. 10.48 Cr. The newest model in the Rolls-Royce line-up is the Ghost with a price tag of Rs. 6.95 - 7.95 Cr. The current lineup of Rolls-Royce India includes Cullinan, Rolls Royce Dawn, Ghost, Phantom and Rolls Royce Wraith.
        <br>
        <br>
        Rolls-Royce Motor Cars is a BMW subsidiary, responsible for the Rolls-Royce automobiles since 1997. In 1998, owners Vickers decided to sell Rolls-Royce Motors. The most likely buyer was BMW, who already supplied engines and other components for Rolls-Royce and Bentley cars, but BMW's final offer of £340m was beaten by Volkswagen's £430m.2003 Phantom ? Launched in January 2003 at Detroit's North American International Auto Show, this is the first model from Rolls-Royce Motor Cars Limited.
      </p>
      <h4 class="list">Rolls-Royce Cars Price List in India</h4>
      <p class="paragraph">Rolls-Royce cars price range is Rs 6.22 Cr to Rs 10.48 Cr. Top 3 Rolls-Royce car model prices are Rolls-Royce Cullinan price (Rs. 6.95 Cr), Rolls-Royce Phantom price (Rs. 8.99 - 10.48 Cr), Rolls-Royce Ghost price (Rs. 6.95 - 7.95 Cr) . Check out all models April 2023 price below.</p>
      <table>
        <th>Model</th>
        <th>Showroom Price</th>
        <tr>
          <td>Rolls-Royce Cullinan</td>
          <td>&#8377; 6.95 Cr*</td>
        </tr>
        <tr>
          <td>Rolls-Royce Phantom</td>
          <td>&#8377; 8.99 - 10.48 Cr*</td>
        </tr>
        <tr><td>Rolls-Royce Ghost</td>
          <td>&#8377; 6.95 - 7.95 Cr*</td>
        </tr>
        <tr>
          <td>Rolls Royce Wraith</td>
          <td>&#8377; 6.22 - 7.21 Cr*</td>
        </tr>
        <tr>
          <td>Rolls Royce Dawn</td>
          <td>&#8377; 7.06 - 7.64 Cr*</td>
        </tr>
        <tr>
          <td>Rolls-Royce Cullinan</td>
          <td>&#8377; 6.95 Cr*</td>
        </tr>
      </table>
    </div>
  </div>
























<div class="car-container">
  <div class="box">
    <img src="../../assets/ghost.avif" width="100%" height="130px" >
    <h3>R R Ghost</h3>
    <div class="stars-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>&#8377;5.20 cr</span><br>
    <a [routerLink]="'/Ghost'" class="btn">View details</a>
  </div>

   <div class="box1">
    <img src="../../assets/c.jpg" width="100%" height="130px">
    <h3>R R cullinan</h3>
    <div class="stars-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>&#8377;6.95Cr</span><br>
    <a [routerLink]="'/Cullinan'" class="btn">View details</a>
   </div>
   <div class="box">
    <img src="../../assets/wra1.jpg" width="100%" height="130px" >

    <h3>R R wraith</h3>
   <div class="stars-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>&#8377;5.50Cr</span><br>
    <a [routerLink]="'/Wraith'" class="btn">View details</a>
   </div>
   <div class="box1">


    <img src="../../assets/pha1.jpg" width="100%" height="130px">
    <h3>R R phantom</h3>
    <div class="stars-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>

    <span>&#8377;9.50Cr</span><br>

    <a [routerLink]="'/Phantom'" class="btn">View details</a>
   </div>
   <div class="box">
    <img src="../../assets/daw.jpg" width="100%" height="130px">
    <h3>R R Dawn</h3>
    <div class="stars-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>&#8377;5.92Cr</span><br>
    <a [routerLink]="'/Dawn'" class="btn">View details</a>
   </div>
</div>
</section>


<div class="highlights">
  <h4 class="list">Key Highlights Of Rolls-Royce</h4>

  <table>

    <tr>
      <td>Popular Models</td>
      <td>Cullinan, Phantom, Ghost, Rolls Royce Wraith, Rolls Royce Dawn</td>
    </tr>
    <tr>
      <td>Most Expensive</td>
      <td>Rolls-Royce Phantom(Rs. 8.99 Cr)</td>
    </tr>
    <tr><td>Affordable Model</td>
      <td>Rolls Royce Wraith(Rs. 6.22 Cr)</td>
    </tr>
    <tr>
      <td>Fuel Type</td>
      <td>Petrol</td>
    </tr>
    <tr>
      <td>Showrooms</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Service Centers</td>
      <td>2</td>
    </tr>
  </table>
</div>
<app-footer></app-footer>
