.carsection{
  padding: 50px 0;
  margin-top: 3%;
  background: #e3e2e2;
}

      .heading{
        margin-top: 3%;
        margin-left: 42%;
        font-size: 38px;
        font-weight: 600;
        font-family:sans-serif;
      }
       h2{
        margin-left: 41%;
        padding: 2%;
      }
.whole-container{
  background-color: #fff;
  margin-left: 5%;
  width: 89%;
  padding: 20px;
  -webkit-box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
margin-top: 50px;
}
.cars{
  width: 100%;

}
.cars h4{
  font-size: 28px;
  margin-left: 20px;
  padding: 10px;
}
.stars{
        line-height: 5px;
        margin-top: 2px;
        color: orange;
        margin-left: 30px;
        margin-top: 6px;
}
.cars p{
  font-size:18px;
  margin-left: 30px;
  margin-top: 10px;
 line-height: 1.5;
 color: #4c4b4b;
}
.cars span{
  color: #5c5959;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 14px;
}
.whole-content{
   display: flex;
}
.cars .list{
   margin-top: 20px;
}
.carsection .car-container{
  display: flex;
}
table,th,tr,td{
  margin-left: 20%;
  width: 50%;
  margin-top: 20px;
 /* position: relative; */
}
table tr{
  padding: 10px;
  align-items: center;
}
table th{
height: 20px;
font-size: 20px;
align-items: center;
color: #121111;
font-weight: 500;
padding: 10px;
}
table{
  border: 2px solid rgb(162, 164, 166);
  border-collapse: collapse;
  padding: 30px;

}
th,td{
  border: 2px solid rgb(162, 164, 166);
}
table td{
  padding: 30px;
  color: #5c5959;
}




.highlights{
  margin-top: -20px;
  background-color: #fff;
  margin-left: 5%;
  width: 89%;
  padding: 20px;
  -webkit-box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
box-shadow: -6px -2px 18px -7px rgba(0,0,0,0.75);
}






.car-container{
  margin-top: 20px;
  padding: 30px;
  /* background-color: #fff; */
}

.highlights h4{
  font-size:30px;
}
.box,.box1{
        padding: 2%;
       margin: 2%;
       border-radius: 5px;
       background-color: #fff;
       width: 100%;
       height: 230px;
       box-shadow: 0px -1px 31px -7px rgb(29, 2, 2);
       transform: translateX(-2px);
}
      .box a,.box1 a{
        position:absolute;
        color:rgb(11, 134, 85);
        font-size: 20px;
      }
      .box h3 {
        font-size: 21px;
        font-weight: 500;
      }
      .box1 h3{
        font-size: 20px;
        font-weight: 500;
      }
      .box span, .box1 span{
        font-size: 20px;
      }
      /* .box .fa-heart, .box1 .fa-heart{
        color: red;
        margin-left: -2px;
      } */
      .box .stars, .box1 .stars{
        line-height: 5px;
        margin-top: 2px;
        color: orange;
      }
      .box .btn, .box1 .btn{
        text-decoration: none;
        background: blue;
        color: white;
        padding:2px 10px;
        padding-bottom: 3px;
        border-radius: 4px;
        margin-top: 5%;
        margin-left: 5%;
      }
      .box .btn:hover, .box1 .btn:hover{
       background-color: rgb(104, 81, 234);
      }
      .box:hover, .box1:hover{
        box-shadow: 0px -1px 31px -7px rgb(29, 2, 2);
       transform: translateX(-2px);
      }
.stars-rating
{
  line-height: 5px;
  margin-top: 2px;
  color: orange;
}
