<app-header></app-header>
<body>
  <h1>PURCHASE &nbsp; ENQUIRY</h1>
      <form action="">
          <div class="input-group">
              <div class="inputs">
                  <select>
                      <option value="" style="color: rgb(49, 43, 43)">All Models</option>
                      <option value=""style="color: black;">Ghost</option>
                      <option value=""style="color: black;">Phantom</option>
                      <option value=""style="color: black;">Cullinan</option>
                      <option value=""style="color: black;">Wraith</option>
                      <option value=""style="color: black;">Dawn</option>
                    </select>
              </div>
              <div class="inputs1">
                  <input type="text" placeholder="Type Query">
                </div>
                <div class="inputs">
                  <select>
                      <option value="" style="color: rgb(39, 35, 35);">Title</option>
                      <option value=""style="color: black;">Mr.</option>
                      <option value=""style="color: black;">Mrs.</option>
                      <option value=""style="color: black;">Ms.</option>
                      <option value=""style="color: black;">Cheif</option>
                      <option value=""style="color: black;">Captain</option>
                    </select>
              </div>
                <div class="inputs">
                  <input type="text" placeholder="First name">
                </div>
                <div class="inputs">
                  <input type="text" placeholder="Last name">
                </div>
                <div class="inputs">
                  <input type="text" placeholder="Phone number">
                </div>
                <div class="inputs">
                  <input type="email" placeholder="Email">
                </div>
          </div>
          <div class="btn">
              <div class="butt2">
                   <button>SUBMIT </button>
              </div>
              <div class="butt3">

                     <button><a [routerLink]="'/Models'">CANCEL</a></button>
              </div>
          </div>
      </form>

</body>
<app-footer></app-footer>

