
<app-header></app-header>
<section class="bg-color">
  <div class="container">
    <div class="title">
      <h1>CONTINUE YOUR JOURNEY</h1>
      <p>Delve further into stories of <span>Inspiring Greatness.</span></p>
    </div>

    <div class="headline">
      Rolls-Royce Dawn Specifications
    </div>
    <div class="specification">
      <div class="left">
        <img src="../../assets/d11.jpg">
      </div>
      <div class="right">
        <h3>Rolls-Royce Dawn</h3>
        <div class="rating" style="color:orange;" >
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class='far'>&#xf005;</i>
        </div>
        <span class="review">6 reviews</span><br>
        <small >&#8377;7.06-7.64Cr*</small>

</div>
</div>



    <div class="feature">

       <h2>Dawn Specs, Features and Price</h2>

      <p>The Rolls-Royce Rolls Royce Dawn has 1 Petrol Engine on offer. The Petrol engine is 6598 cc . It is available with Automatic transmission.Depending upon the variant and fuel type the Rolls Royce Dawn has a mileage of . The Rolls Royce Dawn is a 4 seater 12 cylinder car and has length of 5285 mm, width of 1947mm and a wheelbase of 3112mm.
      </p>
    </div>
  <div class="key">
      <h2>Key Specifications of Rolls-Royce Dawn</h2>
    <div class="whole">
      <div class="left-content">
       <!-- <div class="keys">
          <div ><p>ARAI Mileage</p></div>
          <div ><span>9.8 kmpl</span></div>
       </div> -->

      <div class="keys">
        <p>Engine Displacement (cc)</p>
        <span>6598</span>
      </div>
      <div class="underline1"></div>

      <div class="keys">
         <p>Max Power (bhp@rpm)</p>
         <span>563bhp@5250-6000rpm</span>
      </div>
      <div class="underline2"></div>

      <div class="keys">
         <p>Seating Capacity</p>
         <span>4</span>
      </div>
      <div class="underline3"></div>

      <div class="keys">
         <p> Body Type</p>
         <span>Convertible</span>
      </div>
      <!-- <div class="underline4"></div> -->
    </div>



<div class="right-content">
      <div class="points">
        <div ><p>Fuel Type</p></div>
        <div ><span>Petrol</span></div>

     </div>
     <div class="underline1"></div>
    <div class="points">
      <p>No.of.cylinder</p>
      <span>12</span>
    </div>
    <div class="underline2"></div>
    <div class="points">
       <p>Max Torque(nm@rpm)</p>
       <span>820Nm@1500-5000rpm</span>
    </div>
    <div class="underline3"></div>
    <div class="points">
       <p>Transmission Type</p>
       <span>Automatic</span>
    </div>
    <!-- <div class="underline4"></div> -->
    <!-- <div class="points">
      <p>Fuel Tank Capacity</p>
      <span>100.0</span>
   </div> -->
    </div>

  </div>








  <h2>Key Features of Rolls-Royce Dawn</h2>
  <div class="whole">
    <div class="left-content">
     <div class="keys">
        <div class="paragraph" id="paragraph"><p>Power Steering</p></div>
        <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
     </div>
     <div class="underline1"></div>
    <div class="keys">
      <p>Air Conditioner</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline2"></div>
    <div class="keys">
       <p>Automatic Climate Control</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline3"></div>
    <div class="keys">
       <p>Alloy Wheels</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline4"></div>
    <div class="keys">
       <p>Anti Lock Braking System</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline5"></div>
  </div>



<div class="right-content">
    <div class="points">
      <p>Power Windows Front</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>

   </div>
   <div class="underline1"></div>
  <div class="points">
    <p>Driver Airbag</p>
    <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline2"></div>
  <div class="points">
     <p>Fog Lights - Front</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline3"></div>
  <div class="points">
     <p>Passenger Airbag</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline4"></div>
  </div>
</div>
</div>



<div class="prices">
<h2>Key Features of Rolls-Royce Dawn</h2>
<div class="models">
<div class="model">
  <p>Base Model
    Rolls Royce Dawn Convertible</p>
  <span>&#8377;7.06 Cr*</span>
</div>
<div class="model">
  <p>Top Petrol
    Dawn Black Badge
   </p>
  <span>&#8377;7.64 Cr*</span>
</div>
<div class="model">
  <p>Top Automatic
    Dawn Black Badge</p>
  <span>&#8377;7.64 Cr*</span>
</div>

</div>
</div>






<div class="all-image-container">
  <h3>Exterior images</h3>
<div class="all-images">
<div class="interior-images">
  <div class="item-1">
    <img src="../../assets/d11.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/d12.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/d13.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/d14.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/d15.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/d16.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/d17.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/d18.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/d19.jpg">
  </div>
  <div class="item-10">
    <img src="../../assets/d20.jpg">
  </div>
  <div class="item-11">
    <img src="../../assets/d21.jpg">
  </div>
  <div class="item-12">
    <img src="../../assets/d22.jpg">
  </div>
</div>
</div>
<div class="eximg">
  <h3>Interior images</h3>

<div class="exterior-images">
  <div class="item-1">
    <img src="../../assets/d23.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/d24.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/d25.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/d26.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/d27.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/d28.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/d32.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/d30.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/d31.jpg">
  </div>

</div>
</div>

</div>















    <div class="row">
      <div class="columns">
      <div class="col-3">
        <div class="card">
            <div class="card-main">
           <div class="discount">-10%</div>
           <div class="order order-color"><a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/da1-b.jpg" alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/da2-b.jpg"  alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/da3-b.png" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{url}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Dawn</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$59Cr</span><span class="price-old">$89Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-20%</div>
           <div class="order order-color"><a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/da4-g.png" alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/da5-g.png"  alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/da6-g.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{image}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Dawn</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$67Cr</span><span class="price-old">$87Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-30%</div>
           <div class="order order-color"><a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/da7-b.png" alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/da8-g.jpg"  alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/da9-g.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{content}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Dawn</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$89Cr</span><span class="price-old">$99Cr</span></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<div class="headline" id="reviews">Rolls-Royce Dawn Reviews</div>
    <div class="car-container">
      <div class="box">

       <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
        </div>
        <span>Super Comfort</span><br>
       <p>This is a super luxurious car. It has super comfort. Wonderful and powerful car. Its interior design is awesome.</p>
<h4 class="review2">By Rohit Mall<br>
  <small> On: Jun 11, 2022 | 69 Views</small></h4>
      </div>

    <div class="box">

     <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class='far'>&#xf005;</i>
      </div>
      <span>Great car</span><br>
     <p> Great response from my neighbors as the looks of the car are amazing.</p>
     <h4 class="review1">By Maha Lakshmi<br>
      <small>On: Dec 29, 2019 | 60 Views</small></h4>
  </div>

  <div class="box">

   <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>Rolls Royce Is The Best Car In This Price Segment</span><br>
   <p>It's the best car according to this price segment. Its comfort is so nice.</p>
   <h4 class="review3">By Jatin Thakur<br>
    <small>On: May 15, 2022 | 75 Views</small></h4>
</div>
    </div>


















<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img src="../../assets/cq5dam.web.1920.webp">
    </div>
  <div class="box-bottom">
    <h1>BEGIN YOUR DAWN COMMISSION</h1>
    <P>Dawn Drophead Coupe delivers open-top driving as never experienced before.Take the first steps towards your personal commission.</P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/cunew10.jpg" id="image">
  </div>
  <div class="box-bottom">
    <h1>DISCOVER BESPOKE</h1>
        <P>Choose from our exclisive collections or collaborate with our craftspeople and designers
          to create a Rolls-Royce wholly unique to you. This is Rolls-Royce Bespoke.
        </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/cq5dam.web.1920 (3).webp" >
  </div>
  <div class="box-bottom">
    <h1>DAWN SILVER BULLET</h1>
      <P>Inspired by the spirit of the Brewster Playboy Roadsters of the 1920s, Dawn Silver Bullet is a modern interpretation of the heady, irreverrent attitude of that decade.
      </P>
  </div>
  </div>

  </div>


  <app-footer></app-footer>

