
<body>
  
       <input type="checkbox" id="toggle">
       <label class="side-toggle" for="toggle"><i class="fa-solid fa-bars"></i></label>

  <div class="whole">
    <div class="sidebar">

         <div class="logo" >
           <img src="../../assets/Rolls Royce Logo.png" width="140px"  height="80px" style="margin-top: -40px; margin-left: -20px; " />
         </div>


      <div class="side-menu">
        <i class="fa-solid fa-user"></i>
        <a routerLink="/users">User</a>
      </div>
      <div class="side-menu">
        <i class="fa-sharp fa-solid fa-truck-fast"></i>
        <a routerLink="/">Orders</a>

      </div>
      <div class="side-menu">
        <i class="fa-sharp fa-solid fa-gears"></i>
        <a routerLink="/servicedetails">Service Details</a>

      </div>
      <div class="side-menu">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <p>Logout</p>

      </div>
    </div>
    <div class="main">
      <div class="container">
        Home page
      </div>
    </div>
  </div>
</body>


