<app-header></app-header>
<section class="bg-color">
  <div class="container">
    <div class="title">
      <h1>CONTINUE YOUR JOURNEY</h1>
      <p>Delve further into stories of <span>Inspiring Greatness.</span></p>
    </div>
    <div class="headline">
      Rolls-Royce Wraith Specifications
    </div>
    <div class="specification">
      <div class="left">
        <img src="../../assets/w71.jpg">
      </div>
      <div class="right">
        <h3>Rolls-Royce Wraith</h3>
        <div class="rating" style="color:orange;" >
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class='far'>&#xf005;</i>
          <i class='far'>&#xf005;</i>
        </div>
        <span class="review">7 reviews</span><br>
        <small >&#8377;6.22-7.21Cr</small>
     </div>
    </div>



    <div class="feature">

      <h2>Wraith Specs, Features and Price</h2>

     <p>The Rolls-Royce Rolls Royce Wraith has 1 Petrol Engine on offer. The Petrol engine is 6592 cc . It is available with Automatic transmission.Depending upon the variant and fuel type the Rolls Royce Wraith has a mileage of 10.2 kmpl & Ground clearance of Rolls Royce Wraith is 150mm. The Rolls Royce Wraith is a 4 seater 12 cylinder car and has length of 5285mm, width of 1947mm and a wheelbase of 3112mm.</p>
   </div>
 <div class="key">
     <h2>Key Specifications of Rolls-Royce Wraith</h2>
   <div class="whole">
     <div class="left-content">
      <div class="keys">
         <div ><p>ARAI Mileage</p></div>
         <div ><span>10.2 kmpl</span></div>
      </div>
      <div class="underline1"></div>
     <div class="keys">
       <p>Engine Displacement (cc)</p>
       <span>6592</span>
     </div>
     <div class="underline2"></div>
     <div class="keys">
        <p>Max Power (bhp@rpm)</p>
        <span>591bhp@5000-5500rpm</span>
     </div>
     <div class="underline3"></div>
     <div class="keys">
        <p>Seating Capacity</p>
        <span>4</span>
     </div>
     <div class="underline4"></div>
     <div class="keys">
        <p> Boot Space (Litres)</p>
        <span>470</span>
     </div>
     <div class="underline5"></div>
   </div>



<div class="right-content">
     <div class="points">
       <div ><p>Fuel Type</p></div>
       <div ><span>Petrol</span></div>

    </div>
    <div class="underline1"></div>
   <div class="points">
     <p>No.of.cylinder</p>
     <span>12</span>
   </div>
   <div class="underline2"></div>
   <div class="points">
      <p>Max Torque(nm@rpm)</p>
      <span>900Nm@1700-4500rpm</span>
   </div>
   <div class="underline3"></div>
   <div class="points">
      <p>Transmission Type</p>
      <span>Automatic</span>
   </div>
   <div class="underline4"></div>
   </div>
 </div>








 <h2>Key Features of Rolls-Royce Wraith</h2>
 <div class="whole">
   <div class="left-content">
    <div class="keys">
       <div class="paragraph" id="paragraph"><p>Power Steering</p></div>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline1"></div>
   <div class="keys">
     <p>Air Conditioner</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
   </div>
   <div class="underline2"></div>
   <div class="keys">
      <p>Automatic Climate Control</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
   </div>
   <div class="underline3"></div>
   <div class="keys">
      <p>Alloy Wheels</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
   </div>
   <div class="underline4"></div>
   <div class="keys">
      <p>Anti Lock Braking System</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
   </div>
   <div class="underline5"></div>
 </div>



<div class="right-content">
   <div class="points">
     <p>Power Windows Front</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>

  </div>
  <div class="underline1"></div>
 <div class="points">
   <p>Driver Airbag</p>
   <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
 </div>
 <div class="underline2"></div>
 <div class="points">
    <p>Fog Lights - Front</p>
    <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
 </div>
 <div class="underline3"></div>
 <div class="points">
    <p>Passenger Airbag</p>
    <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
 </div>
 <div class="underline4"></div>
 </div>
</div>
</div>



<div class="prices">
<h2>Key Features of Rolls-Royce Wraith</h2>
<div class="models">
<div class="model">
 <p>Petrol(Automatic)</p>
 <span>6592</span>
</div>

</div>
</div>


<div class="all-image-container">
  <h3>Exterior images</h3>
<div class="all-images">
<div class="interior-images">
  <div class="item-1">
    <img src="../../assets/w71.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/w72.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/w73.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/w74.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/w75.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/w76.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/w77.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/w78.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/w79.jpg">
  </div>
  <div class="item-10">
    <img src="../../assets/w80.jpg">
  </div>
  <div class="item-11">
    <img src="../../assets/w81.jpg">
  </div>
  <div class="item-12">
    <img src="../../assets/w82.jpg">
  </div>
</div>
</div>
<div class="eximg">
  <h3>Interior images</h3>

<div class="exterior-images">
  <div class="item-1">
    <img src="../../assets/w83.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/w84.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/w85.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/w86.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/w87.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/w89.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/w90.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/w91.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/w92.jpg">
  </div>

</div>
</div>

</div>
















    <div class="row">
      <div class="columns">
      <div class="col-3">
        <div class="card">
            <div class="card-main">
           <div class="discount">-10%</div>
           <div class="order order-color"><a routerLink="Modelsregister"  class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/wr1-g.jpg" alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/wr2-g.jpg"  alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/wr3-g.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{url}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Wraith</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$59Cr</span><span class="price-old">$89Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-20%</div>
           <div class="order order-color"><a routerLink="Modelsregister"  class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/wr4-b.jpg" alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/wr5-b.webp"  alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/wr6-b.jpeg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{image}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Wraith</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$67Cr</span><span class="price-old">$87Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-30%</div>
           <div class="order order-color"><a routerLink="Modelsregister" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/wr7-y.webp" alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/wr8-y.jpg"  alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/wr9-y.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{content}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Wraith</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$89Cr</span><span class="price-old">$99Cr</span></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



<div class="headline" id="reviews">Rolls-Royce Wraith Reviews</div>
    <div class="car-container">
      <div class="box">

       <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
        </div>
        <span>Comfortable</span><br>
       <p>This car is very comfortable and very very wonderful. My favorite car is this.
         So, I love this car. I am also providing to all the richest people who can buy this car.I am very poor so I have not bought this car. Thank you. Rolls-Royce team.</p>
<h4 class="review2">By Anirban Halder<br>
  <small>
    On: Jan 17, 2023 | 93 Views</small></h4>
      </div>

    <div class="box">

     <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class='far'>&#xf005;</i>
      </div>
      <span>RR Wraith Fully Safest And Comfortable</span><br>
     <p>Very comfortable car. Features wise it's awesome. Better performance. Full safety car. Drive this car you feel very comfortable than other cars. </p>
     <h4 class="review1">By VishalSharma<br>
      <small>On: May 13, 2022 | 97 Views</small></h4>
  </div>

  <div class="box">

   <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>Amazing Car</span><br>
   <p>So Comfortable and Safest car. No Questions for This Car. No words can explain it completely. Wow, It's Amazing.</p>
   <h4 class="review3">By Ratna Nath<br>
    <small>On: Jan 19, 2023 | 324 Views</small></h4>
</div>
    </div>








<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img src="../../assets/wranew15.webp">
    </div>
  <div class="box-bottom">
    <h1>BLACK BADGE WRAITH</h1>
    <P>Power is unleashed with Black Badge Wraith. The boldest edition of the world's most powerful Rolls-Royce is sculpted for those who dare to defy convention.
    </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/wranew11.webp" id="image">
  </div>
  <div class="box-bottom">
    <h1>DISCOVER BESPOKE</h1>
        <P>Choose from our exclisive collections or collaborate with our craftspeople and designers
          to create a Rolls-Royce wholly unique to you. This is Rolls-Royce Bespoke.
        </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/wranew2.jpg" >
  </div>
  <div class="box-bottom">
    <h1>DISCOVER WRAITH KRYPTOS</h1>
    <P>Presenting Wraith Kryptos-a limited, bespoke collection inspired by the clandestine world of cryptography.
    </P>
  </div>
  </div>

  </div>

<app-footer></app-footer>
