<app-header></app-header>
<section class="bg-color">
  <div class="container">
    <div class="title">
      <h1>CONTINUE YOUR JOURNEY</h1>
      <p>Delve further into stories of <span>Inspiring Greatness.</span></p>
    </div>
        <div class="headline">
          Rolls-Royce Phantom Specifications
        </div>
        <div class="specification">
          <div class="left">
            <img src="../../assets/p91.jpg">
          </div>
          <div class="right">
            <h3>Rolls-Royce Phantom</h3>
            <div class="rating" style="color:orange;" >
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class='far'>&#xf005;</i>
            </div>
            <span class="review">16 reviews</span><br>
            <small >&#8377;8.99Cr-10.48Cr*</small>

    </div>
    </div>



        <div class="feature">

           <h2>Phantom Specs, Features and Price</h2>

          <p>The Rolls-Royce Phantom has 1 Petrol Engine on offer. The Petrol engine is 6749 cc . It is available with Automatic transmission.Depending upon the variant and fuel type the Phantom has a mileage of 9.8 kmpl & Ground clearance of Phantom is 164mm. The Phantom is a 5 seater 12 cylinder car and has length of 5982mm, width of 2018mm and a wheelbase of 3772mm.
          </p>
        </div>
      <div class="key">
          <h2>Key Specifications of Rolls-Royce Phantom</h2>
        <div class="whole">
          <div class="left-content">
           <div class="keys">
              <div ><p>ARAI Mileage</p></div>
              <div ><span>9.8 kmpl</span></div>
           </div>
           <div class="underline1"></div>
          <div class="keys">
            <p>Engine Displacement (cc)</p>
            <span>6749</span>
          </div>
          <div class="underline2"></div>
          <div class="keys">
             <p>Max Power (bhp@rpm)</p>
             <span>563bhp@5000rpm</span>
          </div>
          <div class="underline3"></div>
          <div class="keys">
             <p>Seating Capacity</p>
             <span>5</span>
          </div>
          <div class="underline4"></div>
          <div class="keys">
             <p> Boot Space (Litres)</p>
             <span>460</span>
          </div>
          <div class="underline5"></div>
        </div>



    <div class="right-content">
          <div class="points">
            <div ><p>Fuel Type</p></div>
            <div ><span>Petrol</span></div>

         </div>
         <div class="underline1"></div>
        <div class="points">
          <p>No.of.cylinder</p>
          <span>12</span>
        </div>
        <div class="underline2"></div>
        <div class="points">
           <p>Max Torque(nm@rpm)</p>
           <span>900Nm@1700rpm</span>
        </div>
        <div class="underline3"></div>
        <div class="points">
           <p>Transmission Type</p>
           <span>Automatic</span>
        </div>
        <div class="underline4"></div>
        <div class="points">
          <p>Fuel Tank Capacity</p>
          <span>100.0</span>
       </div>
        </div>

      </div>








      <h2>Key Features of Rolls-Royce Phantom</h2>
      <div class="whole">
        <div class="left-content">
         <div class="keys">
            <div class="paragraph" id="paragraph"><p>Power Steering</p></div>
            <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
         </div>
         <div class="underline1"></div>
        <div class="keys">
          <p>Air Conditioner</p>
          <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
        </div>
        <div class="underline2"></div>
        <div class="keys">
           <p>Automatic Climate Control</p>
           <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
        </div>
        <div class="underline3"></div>
        <div class="keys">
           <p>Alloy Wheels</p>
           <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
        </div>
        <div class="underline4"></div>
        <div class="keys">
           <p>Anti Lock Braking System</p>
           <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
        </div>
        <div class="underline5"></div>
      </div>



    <div class="right-content">
        <div class="points">
          <p>Power Windows Front</p>
          <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>

       </div>
       <div class="underline1"></div>
      <div class="points">
        <p>Driver Airbag</p>
        <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
      </div>
      <div class="underline2"></div>
      <div class="points">
         <p>Fog Lights - Front</p>
         <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
      </div>
      <div class="underline3"></div>
      <div class="points">
         <p>Passenger Airbag</p>
         <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
      </div>
      <div class="underline4"></div>
      </div>
    </div>
    </div>



    <div class="prices">
    <h2>Key Features of Rolls-Royce Phantom</h2>
    <div class="models">
    <div class="model">
      <p>Base Model Phantom Series ll</p>
      <span>&#8377;8.99Cr</span>
    </div>
    <div class="model">
      <p>Top Petrol
        Phantom Extended Wheelbase</p>
      <span>&#8377;10.48Cr</span>
    </div>
    <div class="model">
      <p>Top Automatic
        Phantom Extended Wheelbase</p>
      <span>&#8377;10.48Cr</span>
    </div>

    </div>
    </div>



    <!-- <div class="row">
      <div class="columns">
        <div class="col-3">
          <div class="card">
            <div class="card-main">


           <div class="product-containers">
            <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g1-b.png" alt="product"></div>
            <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g2-b.png"  alt="product"></div>
            <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g3-b.png" alt="product"></div>
           </div>
           <div class="image-containers">
            <img src="{{url}}" alt="Product">
           </div>

             <div class="cart-line"></div>

            </div>
          </div>

        </div>
      </div>
    </div> -->


    <div class="all-image-container">
      <h3>Exterior images</h3>
    <div class="all-images">
    <div class="interior-images">
      <div class="item-1">
        <img src="../../assets/p91.jpg">
      </div>
      <div class="item-2">
        <img src="../../assets/p92.jpg">
      </div>
      <div class="item-3">
        <img src="../../assets/p93.jpg">
      </div>
      <div class="item-4">
        <img src="../../assets/p94.jpg">
      </div>
      <div class="item-5">
        <img src="../../assets/p95.jpg">
      </div>
      <div class="item-6">
        <img src="../../assets/p96.jpg">
      </div>
      <div class="item-7">
        <img src="../../assets/p97.jpg">
      </div>
      <div class="item-8">
        <img src="../../assets/p98.jpg">
      </div>
      <div class="item-9">
        <img src="../../assets/w92.jpg">
      </div>

    </div>
    </div>
    <div class="eximg">
      <h3>Interior images</h3>

    <div class="exterior-images">
      <div class="item-1">
        <img src="../../assets/p103.jpg">
      </div>
      <div class="item-2">
        <img src="../../assets/p104.jpg">
      </div>
      <div class="item-3">
        <img src="../../assets/p105.jpg">
      </div>
      <div class="item-4">
        <img src="../../assets/p106.jpg">
      </div>
      <div class="item-5">
        <img src="../../assets/p112.jpg">
      </div>
      <div class="item-6">
        <img src="../../assets/p108.jpg">
      </div>
      <div class="item-7">
        <img src="../../assets/p109.jpg">
      </div>
      <div class="item-8">
        <img src="../../assets/p110.jpg">
      </div>
      <div class="item-9">
        <img src="../../assets/p111.jpg">
      </div>

    </div>
    </div>

    </div>









    <div class="row">
      <div class="columns">
      <div class="col-3">
        <div class="card">
            <div class="card-main">
           <div class="discount">-10%</div>
           <div class="order order-color"><a routerLink="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/ph1-r.jpg" alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/ph2-r.jpg"  alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/ph3-r.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{url}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Phantom</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$59Cr</span><span class="price-old">$89Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-20%</div>
           <div class="order order-color"><a routerLink="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/ph4-b.jpg" alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/ph5-b.jpg"  alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/ph6-b.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{image}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Phantom</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$67Cr</span><span class="price-old">$87Cr</span></p>
            </div>
        </div>


        <div class="card">
            <div class="card-main">
           <div class="discount">-30%</div>
           <div class="order order-color"><a routerLink="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/ph7-w.jpg" alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/ph8-w.jpg"  alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/ph9-w.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{content}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Phantom</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$89Cr</span><span class="price-old">$99Cr</span></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<div class="headline" id="reviews">Rolls-Royce Phantom Reviews</div>
    <div class="car-container">
      <div class="box">

       <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
        </div>
        <span>Super Comfort</span><br>
       <p>This is a super luxurious car. It has super comfort. Wonderful and powerful car. Its interior design is awesome.</p>
<h4 class="review2">By Rohit Mall<br>
  <small> On: Sep 11, 2022 | 69 Views</small></h4>
      </div>

    <div class="box">

     <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class='far'>&#xf005;</i>
      </div>
      <span>The Car Is Very Eye Catching</span><br>
     <p>The car is very eye-catching. Overall performance of the car is top notch and In case of comfort, the car is excellent. I personally love this car.</p>
     <h4 class="review1">By Mohit Gamerz<br>
      <small>On: Sep 03, 2022 | 57 Views</small></h4>
  </div>

  <div class="box">

   <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>Rolls Royce Is The Best Car In This Price Segment</span><br>
   <p>It's the best car according to this price segment. Its comfort is so nice.</p>
   <h4 class="review3">By Jatin Thakur<br>
    <small>On: May 15, 2022 | 75 Views</small></h4>
</div>
    </div>






















<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img src="../../assets/phnew1.jpg">
    </div>
  <div class="box-bottom">
    <h1>BEGIN YOUR PHANTOM SERIES II COMMISION</h1>
    <P>From urban adventures to journeys into the wilderness. Handle any environment with absolute authority in the most capable Rolls-Royce ever created.
    </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/cunew10.jpg" id="image">
  </div>
  <div class="box-bottom">
    <h1>DISCOVER BESPOKE</h1>
        <P>Choose from our exclisive collections or collaborate with our craftspeople and designers
          to create a Rolls-Royce wholly unique to you. This is Rolls-Royce Bespoke.
        </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/phnew2.jpg" >
  </div>
  <div class="box-bottom">
    <h1>PHANTOM GALLERY</h1>
    <P>As the first-ever Rolls-Royce SUV prepares for launch, only its final tests stand in its way. Watch Cullinan face its Final Challenge.
    </P>
  </div>
  </div>

  </div>
<app-footer></app-footer>


