<app-header></app-header>
<body>
  <!-- <div class="butt1">

      <button id="Back"><a href="mainindex.html"><i id="icon"class="uil uil-arrow-left"></i> &nbsp;Back</a></button>
  </div> -->
  <div class="h1">Services</div>
  <!-- <h3> ______________________________________</h3> -->
  <div class="images">
      <div class="content">

      <img src="../../assets/servnew1.jpg" width="100%">
      <div class="color">
      <h1 style="font-weight: 500;">Maintanence Package</h1>
      <p>To maintain our car is necessary if you want to service</p>
      <a [routerLink]="'/servicelogin'"><button>Book now</button></a>
      </div>
  </div>
      <div class="content">
          <img src="../../assets/servnew2.jpg" width="100%">
          <h1 style="font-weight: 500;">Light and Accessories</h1>
         <p>From the brake pedal to hydraulic brake fluid, brake master cylinder to power brake booster</p>
        <a [routerLink]="'/servicelogin'"> <button>Book now</button></a>

      </div>
      <div class="content">
          <img src="../../assets/servnew3.jpg" width="100%">
          <h1 style="font-weight: 500;">Exhaust System </h1>
          <p>Technicians will inspect, rotate, balance your tires, by your vehicle’s manufacturer.</p>
        <a [routerLink]="'/servicelogin'"><button>Book now</button></a>

      </div>
  </div>
      <div class="images">
      <div class="content">
          <img src="../../assets/servnew4.jpg" width="100%">
          <h1 style="font-weight: 500;">Oil change</h1>
          <p>Oil is the lifeblood of your engine. It reduces friction, lessens wear...</p>
             <a [routerLink]="'/servicelogin'"> <button>Book now</button></a>

      </div>

      <div class="content">
          <img src="../../assets/servnew5.jpg" width="100%">
          <h1 style="font-weight: 500;">Brakes & Brake pair</h1>
          <p>From the brake pedal to hydraulic brake fluid, brake master cylinder to power brake booster</p>
         <a [routerLink]="'/servicelogin'"><button>Book now</button></a>

      </div>
      <div class="content">
          <img src="../../assets/servnew6.jpg" width="100%">
          <h1 style="font-weight: 500;">Tire repair</h1>
          <p>To repair your tire or else you want to change new one.</p>
        <a [routerLink]="'/servicelogin'"> <button>Book now</button></a>

      </div>


  </div>
</body>
<app-footer></app-footer>
