<div class="grid1 grid-three-columns1">
  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;"> Motor Cars </h2>
              <p><br>
                  <a href="product.html">Ghost</a><br><br>
                  <a href="cullian.html">Cullinan</a><br><br>
                  <a href="wraith.html">Wraith</a><br><br>
                  <a href="http://127.0.0.1:5501/phantom.html">Phantom</a><br><br>
                  <a href="dawn.html">Dawn</a><br><br>
              </p>
          </div>
      </div>
  </div>

  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;">Rides & Events
              </h2>
              <p><br>
                  <a href="">Rides</a><br><br>
                  <a href="">Events</a><br><br>
                  <a href="">Ride Out</a><br><br>
              </p>
          </div>
      </div>
  </div>



  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;">About Us</h2>
              <p><br>
                  <a href="">Since 1906</a><br><br>
                </p>
          </div>
      </div>
  </div>

  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;">News & Media</h2>
              <p><br>
                  <a href="">News</a><br><br>
                  <a href="">Press Releases</a><br><br>
                  <a href="">Media Kit</a><br><br>
                  <a href="">Events</a><br><br>
              </p>
          </div>
      </div>
  </div>

  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;">Careers</h2>
              <p><br>
                  <a style="margin-left: 2rem;" href="">Life at ROLLS ROYCE</a><br><br>
              </p>
          </div>
      </div>
  </div>

  <div class="">
      <div class="company1">
          <div class="companyLogo1">
              <h2 style="font-size: 20px;">Contact Us</h2>
              <p><br>
                  <a href="https://www.facebook.com/rollsroycemotorcars/"><i class="fa-brands fa-facebook"></i> FaceBook</a><br><br>
                  <a href="https://www.instagram.com/rollsroycecars/?hl=en"><i class="fa-brands fa-instagram"></i> Instagram</a><br><br>
                  <a href="https://twitter.com/rollsroycecars?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-twitter"></i> Twitter</a><br><br>
                  <a href="https://www.youtube.com/rollsroycemotorcars"><i class="fa-brands fa-youtube"></i> YouTube</a><br><br>
                  <a href=""><i class="fa-brands fa-whatsapp"></i> WhatsApp</a><br><br>
              </p>
          </div>
      </div>
  </div>

</div>
