<!-- <section>
  <div class="row">
    <div class="columns">
      <div class="container">
        <div class="column-1">
              <div class="discount">
                   <span>OFFER</span>
              </div>
              <ul>
                  <li>
                     <div class="column-date">194</div>
                     <div class="column-day">Days</div>
                  </li>
                  <li>
                    <div class="column-date">01</div>
                    <div class="column-day">Hours</div>
                 </li>
                 <li>
                  <div class="column-date">22</div>
                  <div class="column-day">Mins</div>
               </li>
               <li>
                <div class="column-date">24</div>
                <div class="column-day">Secs</div>
             </li>
            </ul>
        </div>
        <div class="column-2">
          <div class="image">
            <img src="../../assets/wr11-b.jpg">
          </div>
        </div>
        <div class="column-3">
          <h3>LUGGAGE & STORAGE</h3>
          <h1>INSPIRED BY FASHION LUGGAGE COLLECTION</h1>
          <p>Discover the stunning new addition to the Rolls-Royce luggage range, perfectly
            complementing the inspired.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-header></app-header>
<div class="page">
<div class="content" style="cursor: pointer;">
<div class="headline">
  <div class="image-1" >
    <img src="../../assets/A13.webp" width="100%" >
  </div>
</div>
<h1>ALL &nbsp; ACCESSORIES
  <div class="close">
    <a routerLink="/About" fragment="popup">
  <i class="fa-solid fa-xmark"></i></a>
</div>
</h1>

</div>


<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img src="../../assets/a1.webp">
    </div>
  <div class="box-bottom">
      <h1>INSPIRED BY FASHION LUGGAGE COLLECTION</h1>
      <P>Available as individual pieces or as a full set,
        the Inspired by Fashion luggage collection is available in four colourways-- two to compliment the rebellious rule-breaking...
      </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/a2.webp" id="image">
  </div>
  <div class="box-bottom">
    <h1>KINETIC LUGGAGE COLLECTION</h1>
    <P> An expression of powerful purpose. Alluring in its architecture, the collection suits those who hold an undeniable energy.
      Determined, yet dynamic. Travelling should be an...
    </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/a3.webp" >
  </div>
  <div class="box-bottom">
    <h1>LIMITED EDITION HEADPHONES</h1>
    <P>Constructed from aluminium and Saffiano brown leather for a lightweight feel, these headphones are connected to your vehicle or device
      via a cable, further enhancing sound quality...
    </P>
  </div>
  </div>

  <div class="containers">
    <div class="box-top">
        <img src="../../assets/a4.webp" >
    </div>
    <div class="box-bottom">
      <h1>PAINTED BRAKE CALIPERS</h1>
      <P>Providing a further level of personalisation for the exterior of your vehicle, this feature offers you the chance to switch your
         existing brake calipers with a set in one of three...
      </P>
    </div>
    </div>


    <div class="containers">
      <div class="box-top">
          <img src="../../assets/a5.webp" >
      </div>
      <div class="box-bottom">
        <h1>ROLLS-ROYCE PURSUIT SEAT</h1>
        <P>The Pursuit Seat represents the perfect fusion of impeccable design, innovative technology and inimitable Rolls-Royce craftsmanship. Its polished aluminium frame and carbon fibre...
        </P>
      </div>
      </div>
      <div class="containers">
        <div class="box-top">
            <img src="../../assets/a6.webp" >
        </div>
        <div class="box-bottom">
          <h1>BATTERY CONDITIONER</h1>
          <P>This mains-powered Battery Conditioner with LED indicator ensures an optimum charge level is always maintained.

          </P>
        </div>
        </div>

        <div class="containers">
          <div class="box-top">
              <img src="../../assets/a7.webp" >
          </div>
          <div class="box-bottom">
            <h1>BLACK BADGE ESCAPISM LUGGAGE COLLECTION</h1>
            <P>Discover the stunning new addition to the Rolls-Royce luggage range. Black Badge is for those who live on their own terms – innovators, trailblazers, rule-breakers. Now, capturing...
            </P>
          </div>
          </div>

          <div class="containers">
            <div class="box-top">
                <img src="../../assets/a8.webp" >
            </div>
            <div class="box-bottom">
              <h1>CELLARETTE</h1>
              <P>Inspired by Rolls Royce’s long-established history of beautifully-designed, precision-engineered hosting equipment, the Cellarette is a humidor, drink chest and glassware storage...
              </P>
            </div>
            </div>

            <div class="containers">
              <div class="box-top">
                  <img src="../../assets/a9.webp" >
              </div>
              <div class="box-bottom">
                <h1>CHAMPAGNE CHEST</h1>
                <P>Enhance any occasion with the Rolls-Royce Champagne Chest, crafted by artisans to the highest standard of elegance and luxury. The chest effortlessly opens at the push of a button...
                </P>
              </div>
              </div>

              <div class="containers">
                <div class="box-top">
                    <img src="../../assets/a10.jpg" >
                </div>
                <div class="box-bottom">
                  <h1>CHAMPAGNE FLUTES</h1>
                  <P>A fine pair of Champagne Flutes and napkins.
                  </P>
                </div>
                </div>

                <div class="containers">
                  <div class="box-top">
                      <img src="../../assets/a11.webp" >
                  </div>
                  <div class="box-bottom">
                    <h1>COLOURED INTERIOR BRIGHTWORK</h1>
                    <P>Available for vehicles with Bespoke Audio, this option adds that extra level of interior personalisation. Comprising of a full vehicle set of speaker covers as well as fresh air...
                    </P>
                  </div>
                  </div>

                  <div class="containers">
                    <div class="box-top">
                        <img src="../../assets/a12.webp" >
                    </div>
                    <div class="box-bottom">
                      <h1>ROLLS-ROYCE UMBRELLAS</h1>
                      <P>he iconic Rolls-Royce umbrella has been reimagined with striking colours. Finished with a polished colour-tone handle and detailed with our famous Rolls-Royce monogram, it makes...
                      </P>
                    </div>
                    </div>


  </div>
</div>

<app-footer></app-footer>
