<app-header></app-header>
<div class="headline">
     <!-- <img src="../../assets/car4.png"> -->
    <div style="position: relative; background-color:white; min-height: 50vh;">
    <h2> THE EIGHTH WONDER OF THE WORLD </h2>
    <p>99.9% of the world's population will never see it.</p>
    <div class="custom-shape-divider-top-1679483048">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
  </div>
  <img src="../../assets/car7.png" width="30%" height="50%">
  </div>
  <div class="column-1">
  <div class="contents">
       <div class="left">
             <span class="number">50</span>
            <h3 class="countries">countries</h3>

        </div>
       <div class="right">
              <span class="number">6,021</span>
              <h3 class="countries">Motor cars</h3>

         </div>
  </div>
</div>
<a routerLink="About"><button>Explore here &raquo; </button></a>
</div>
<app-footer></app-footer>
