



<app-header></app-header>

<section class="bg-color">
  <div class="container">
    <div class="title">
      <h1>CONTINUE YOUR JOURNEY</h1>
      <p>Delve further into stories of <span>Inspiring Greatness.</span></p>
    </div>
    <div class="headline">
      Rolls-Royce Ghost Specifications
    </div>
    <div class="specification">
      <div class="left">
          <img src="../../assets/g6-w.jpg">
      </div>
      <div class="right">
        <h3>Rolls-Royce Ghost</h3>
        <div class="rating" style="color:orange;" >
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class='far'>&#xf005;</i>
          <i class='far'>&#xf005;</i>
        </div>
        <span class="review">22 reviews</span><br>
        <small >&#8377;6.95-7.95Cr</small>

</div>
</div>



    <div class="feature">

       <h2>Ghost Specs, Features and Price</h2>

      <p>The Rolls-Royce Ghost has 1 Petrol Engine on offer. The Petrol engine is 6750 cc . It is available with Automatic transmission.Depending upon the variant and fuel type the Ghost has a mileage of 6.33 kmpl . The Ghost is a 5 seater 12 cylinder car and has length
        of 5627mm, width of 1948mm and a wheelbase of 3465mm.</p>
    </div>
  <div class="key">
      <h2>Key Specifications of Rolls-Royce Ghost</h2>
    <div class="whole">
      <div class="left-content">
       <div class="keys">
          <div ><p>WLTP Mileage</p></div>
          <div ><span>6.33 kmpl</span></div>
       </div>
       <div class="underline1"></div>
      <div class="keys">
        <p>Engine Displacement</p>
        <span>6750</span>
      </div>
      <div class="underline2"></div>
      <div class="keys">
         <p>Max Power</p>
         <span>563bhp@5250</span>
      </div>
      <div class="underline3"></div>
      <div class="keys">
         <p>Seating Capacity</p>
         <span>5</span>
      </div>
      <div class="underline4"></div>
      <div class="keys">
         <p> Body Type</p>
         <span>Sedan</span>
      </div>
      <div class="underline5"></div>
    </div>



<div class="right-content">
      <div class="points">
        <div ><p>Fuel Type</p></div>
        <div ><span>6.33 kmpl</span></div>

     </div>
     <div class="underline1"></div>
    <div class="points">
      <p>No.of.cylinder</p>
      <span>6750</span>
    </div>
    <div class="underline2"></div>
    <div class="points">
       <p>Max Torque(nm@rpm)</p>
       <span>563bhp@5250</span>
    </div>
    <div class="underline3"></div>
    <div class="points">
       <p>Transmission Type</p>
       <span>5</span>
    </div>
    <div class="underline4"></div>
    </div>
  </div>








  <h2>Key Features of Rolls-Royce Ghost</h2>
  <div class="whole">
    <div class="left-content">
     <div class="keys">
        <div class="paragraph" id="paragraph"><p>Power Steering</p></div>
        <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
     </div>
     <div class="underline1"></div>
    <div class="keys">
      <p>Air Conditioner</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline2"></div>
    <div class="keys">
       <p>Automatic Climate Control</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline3"></div>
    <div class="keys">
       <p>Alloy Wheels</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline4"></div>
    <div class="keys">
       <p>Engine Start Stop Button</p>
       <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
    </div>
    <div class="underline5"></div>
  </div>



<div class="right-content">
    <div class="points">
      <p>Power Windows Front</p>
      <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>

   </div>
   <div class="underline1"></div>
  <div class="points">
    <p>Driver Airbag</p>
    <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline2"></div>
  <div class="points">
     <p>Fog Lights - Front</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline3"></div>
  <div class="points">
     <p>Multi-function Steering Wheel</p>
     <div class="mileage" id="mileage"><span><i class="fa-solid fa-check"></i></span></div>
  </div>
  <div class="underline4"></div>
  </div>
</div>
</div>



<div class="prices">
<h2>Key Features of Rolls-Royce Ghost</h2>
<div class="models">
<div class="model">
  <p>Base Model Ghost V12</p>
  <span>&#8377;6.95Cr*</span>
</div>
<div class="model">
  <p>Top Petrol Ghost V12 Extended</p>
  <span>&#8377;7.95Cr*</span>
</div>
<div class="model">
  <p>Top Automatic Ghost V12 Extended</p>
  <span>&#8377;7.95*</span>
</div>
</div>
</div>



<!-- <div class="row">
  <div class="columns">
    <div class="col-3">
      <div class="card">
        <div class="card-main">


       <div class="product-containers">
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g1-b.png" alt="product"></div>
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g2-b.png"  alt="product"></div>
        <div class="m" (mouseover)="imageChange($event)"><img src="../../assets/g3-b.png" alt="product"></div>
       </div>
       <div class="image-containers">
        <img src="{{url}}" alt="Product">
       </div>

         <div class="cart-line"></div>

        </div>
      </div>

    </div>
  </div>
</div> -->


<div class="all-image-container">
  <h3>Exterior images</h3>
<div class="all-images">
<div class="interior-images">
  <div class="item-1">
    <img src="../../assets/g21.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/g22.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/g23.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/g24.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/g25.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/g26.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/g27.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/g28.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/g29.jpg">
  </div>
  <div class="item-10">
    <img src="../../assets/g30.jpg">
  </div>
  <div class="item-11">
    <img src="../../assets/g31.jpg">
  </div>
  <div class="item-12">
    <img src="../../assets/g32.jpg">
  </div>
</div>
</div>
<div class="eximg">
  <h3>Interior images</h3>

<div class="exterior-images">
  <div class="item-1">
    <img src="../../assets/g33.jpg">
  </div>
  <div class="item-2">
    <img src="../../assets/g34.jpg">
  </div>
  <div class="item-3">
    <img src="../../assets/g35.jpg">
  </div>
  <div class="item-4">
    <img src="../../assets/g36.jpg">
  </div>
  <div class="item-5">
    <img src="../../assets/g37.jpg">
  </div>
  <div class="item-6">
    <img src="../../assets/g38.jpg">
  </div>
  <div class="item-7">
    <img src="../../assets/39.jpg">
  </div>
  <div class="item-8">
    <img src="../../assets/40.jpg">
  </div>
  <div class="item-9">
    <img src="../../assets/41.jpg">
  </div>

</div>
</div>

</div>




    <div class="row">
      <div class="columns">
      <div class="col-3">
          <div class="card">
            <div class="card-main">
           <div class="discount">-10%</div>
           <div class="order order-color">
            <a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/g1-b.png" alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/g2-b.png"  alt="product"></div>
            <div class="p" (mouseover)="imageChange($event)"><img src="../../assets/g3-b.png" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{url}}" alt="Product">
           </div>

             <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

          <div class="card-content">
          <a href="">Rolls-Royce Ghost</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$59Cr</span><span class="price-old">$89Cr</span></p>
            </div>
           </div>

           <div class="card">
            <div class="card-main">
           <div class="discount">-20%</div>
           <div class="order order-color">
            <a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a></div>
           <div class="product-container">
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/g4-w.jpg" alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/g5-w.png"  alt="product"></div>
            <div class="p" (mouseover)="Change($event)"><img src="../../assets/g6-w.jpg" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{image}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Ghost</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$67Cr</span><span class="price-old">$87Cr</span></p>
            </div>
           </div>

           <div class="card">
            <div class="card-main">
           <div class="discount">-30%</div>
           <div class="order order-color">
            <a [routerLink]="'/Modelsregister'" class="preorder"> Pre-Order</a>
          </div>
           <div class="product-container">
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/g7-b.png" alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/g8-b.jpg"  alt="product"></div>
            <div class="p" (mouseover)="ghost($event)"><img src="../../assets/g9-b.png" alt="product"></div>
           </div>
           <div class="image-container">
            <img src="{{content}}" alt="Product">
           </div>

        <div class="cart-line"></div>
              <div class="cart-item">
                    <ul>
                      <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                      <li><a href=""><i class="fa fa-heart"></i></a></li>
                      <li><a href=""><i class="fa fa-search"></i></a></li>
                    </ul>
              </div>
            </div>

      <div class="card-content">
          <a href="">Rolls-Royce Ghost</a>
          <div class="rating" style="color: rgb(255, 136, 0);" >
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
          </div>
        <p><span class="money">$89Cr</span><span class="price-old">$99Cr</span></p>
            </div>
           </div>
      </div>
    </div>


      </div>





  </div>

</section>


<div class="headline" id="reviews">Rolls-Royce Reviews</div>
    <div class="car-container">
      <div class="box">

       <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class='far'>&#xf005;</i>
            <i class='far'>&#xf005;</i>
        </div>
        <span>Signal Of Upper-Crust Luxury</span><br>
       <p>Whether you come from old money or you're nouveau riche, there's no better way to flaunt it than in a Rolls-Royce Ghost. This is a car with presence, a car for the one-tenth of one percent. And everyone knows it. The Ghost mimics the even more expensive Phantom sedan in both style and substance, offering an interior that's whisper quiet and impeccably outfitted with the finest materials.</p>
<h4 class="review2">By Leroy Chirappanath<br>
  <small>On: Mar 01, 2023 | 169 Views</small></h4>
      </div>

    <div class="box">

     <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <i class='far'>&#xf005;</i>
      </div>
      <span>THE BEAUTY AND BEAST IN SINGLE CAR</span><br>
     <p>This car is the best car one can have but is not affordable for a middle-class person. The car is super soundproof best in the premium segment and best in Power and looks the seating is also the best thus the rolls Royce is the best beast for one to have I recommend if you are eligible to buy it.</p>
     <h4 class="review1">By Surya<br>
      <small>On: Jan 28, 2023 | 159 Views</small></h4>
  </div>

  <div class="box">

   <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
    </div>
    <span>A RIDE IN THE GHOST</span><br>
   <p>About 3 years ago, I was there in Mumbai. Suddenly one day, I was surprised to see that my uncle bought this super perfect car. The ride was a memorable one! And really, all its functions and everything is so much carefully designed that it feels like you're royal. #GHOST!</p>
   <h4 class="review3">By Ratna Nath<br>
    <small>On: Jan 19, 2023 | 324 Views</small></h4>
</div>
    </div>






<div class="groups">
  <div class="containers">
    <div class="box-top">
        <img src="../../assets/dow.jpg">
    </div>
  <div class="box-bottom">
      <h1>GHOST</h1>
      <P>Making its debut in 2020, Ghost is a motor can for those who recognise beaty in restraint.
        Discover the purest expression of Rolls-Royce now.
      </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/down2.webp" id="image">
  </div>
  <div class="box-bottom">
    <h1>THE NEW  GHOST EXTENDED</h1>
    <P>Making its debut in 2020,the new Ghost Extended is a motor Ghost Extended is a motor car for those seeking
      clarity. Within the serence realm of its cabin, time and space are yours alone.
    </P>
  </div>
  </div>
  <div class="containers">
  <div class="box-top">
      <img src="../../assets/down3.jpg" >
  </div>
  <div class="box-bottom">
    <h1>DISCOVER BESPOKE</h1>
    <P>Choose from our exclisive collections or collaborate with our craftspeople and designers
      to create a Rolls-Royce wholly unique to you. This is Rolls-Royce Bespoke.
    </P>
  </div>
  </div>

  </div>
  <!-- <video controls Autoplay="autoplay" autoplay="true">
    <source src="https://youtu.be/nhCOTYi3rlQ" type="video/mp4" />
</video> -->
<app-footer></app-footer>
